replicaCount: 2

image:
  repository: jcloudcodes/django-starts-jupiters-ig
  tag: "37"
  pullPolicy: IfNotPresent

imagePullSecrets: []
# - name: nexus-regcred

service:
  type: ClusterIP
  port: 8000

containerPort: 8000

env:
  DJANGO_SETTINGS_MODULE: "nasa_world.settings"
  DJANGO_DEBUG: "0"

config:
  allowedHosts: "django.jcloudcodes.com,localhost,127.0.0.1"

secret:
  # For GitOps: ideally use ExternalSecrets/SealedSecrets instead of committing real secrets.
  djangoSecretKey: "change-me"
  dbPassword: "baba12345@"
  postgresPassword: "baba12345@"

ingress:
  enabled: true
  className: nginx
  host: django.jcloudcodes.com
  annotations: {}

postgres:
  enabled: true
  image:
    repository: postgres
    tag: "15-alpine"
    pullPolicy: IfNotPresent

  service:
    port: 5432

  auth:
    database: django
    username: django
    # password comes from Secret (POSTGRES_PASSWORD)

  persistence:
    enabled: true
    size: 10Gi
    storageClass: standard-rwo
    pgdata: /var/lib/postgresql/data/pgdata