replicaCount: 1

image:
  repository: jcloudcodes/django-starts-jupiters-ig
  tag: "38"

env:
  DJANGO_DEBUG: "1"

ingress:
  host: dev-django.jcloudcodes.com

postgres:
  enabled: true
  auth:
    password: "baba12345@"
