replicaCount: 1

image:
<<<<<<< HEAD
  repository: nexus.jcloudcodes.com/django-jupiter
  tag: "36"
=======
  repository: jcloudcodes/django-starts-jupiters-ig
  tag: "dev"
>>>>>>> fcc0308 (push)

env:
  DJANGO_DEBUG: "1"

ingress:
  host: dev-django.jcloudcodes.com

postgres:
  enabled: true
  auth:
    password: "baba12345@"
