replicaCount: 1

image:
  repository: nexus.jcloudcodes.com/django-jupiter
  tag: "34"

env:
  DJANGO_DEBUG: "1"

ingress:
  host: dev-django.jcloudcodes.com

postgres:
  enabled: true
  auth:
    password: "dev-password-change-me"
